.contact-form {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between; /* Ensure both sections are side by side */
  height: 80vh;
  margin-top: 4rem;
}

.w-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-right {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}

.c-right > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.c-right .user {
  width: 20rem;
  height: 2rem;
  padding: 0.3em;
  outline: none;
  border: 2px solid var(--orange);
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  height: 4rem !important;
}

.c-blur1 {
  top: 1rem;
  left: 8rem;
}

/* Optional styles for responsiveness */
@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
  }

  .w-left, .c-right {
    flex: none;
    width: 100%;
  }
}
